{% extends 'base.html' %}

{% block content %}
    <h1>{{ context['main_heading'] }}</h1>
    <p class="mb-3 text-lg text-gray-500 md:text-xl dark:text-gray-400">At Script Benders, we’re passionate about building innovative solutions fast—turning ideas into impactful prototypes without the complexity. We thrive on collaboration, creativity, and problem-solving under pressure.</p>
    <p class="text-gray-500 dark:text-gray-400">In this hackathon, we aim to accelerate development, tackle real-world challenges, and deliver seamless user experiences. By combining diverse skills in coding, design, and strategy, we track our progress collaboratively, iterate quickly, and stay agile. Our mission: bend the script, break boundaries, and build something awesome.</p>
{% endblock %}
